
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-bar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Understand Angular</a>
        </div>
  
        <div class="collapse navbar-collapse" id="nav-bar">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a routerLink="/">
                <i class="fa fa-home"></i>Dashboard</a>
            </li>
            <li>
              <a routerLink="/heroes">
                <i class="fa fa-home"></i>Heroes</a>
            </li>
            <li>
              <a routerLink="/posts">
              <i class="fa fa-home"></i>Posts</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  